@import "tailwindcss";

$primaryColor :#EE303C;
$darkRed: #B71C1C;
$secondaryColor: #F5E1C0;
$spiceOrange: #E65100;
$darkGray: #333;
$lightGray: #636363;
$white: #FFF;
$softWhite: #FAFAFA;
$black: #212121;
$gray: #E8E8E8;
$footer: #EE303C;